.timeline{
    display: flex;
    flex-direction: row;
}

.timeline__left{
    flex: 0.7;
   
}

.timeline__right{
    flex: 0.3;
}

.timeline__teftTop {
    display: flex;
    margin: 20px;
    gap: 20px;
    max-width: 750px;
    /* overflow-x: auto; or overflow: scroll; */
    scrollbar-base-color: transparent;
}

